{% extends "flatpages/default.html" %}
{% block title %}
Все категории
{% endblock title %}
{% block content %}
<h1>Все категории</h1>
{% for category in categories %}
    <h2><a href="/news/{{ categories.pk }}">
        {{ category.name }}
    </a>{% if user in category.subscribers.all %}
        <a href="#" class="btn btn-success"> Подписаны</a>
        {% else %}
        <a class="btn btn-primary btn-sm" href="/news/subscribe/{{ categories.pk }}"> Подписаться</a>
        {% endif %}
    </h2>
{% endfor %}
{% endblock content %}